.projects-section {
    width: 100%;
    height: auto;
    background: var(--highlight-color);
    padding: 6vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.projects-title {
    font-size: 2rem;
}

.projects-container {
    max-width: min(1200px, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    perspective: 2000px;
}

.project-card {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0 0 15px 4px var(--main-color-dark);
    border-radius: 1rem;
    transition: transform 0.5s ease;
}

.project-info {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    color: var(--main-color-light);
}

.project-title {
    font-size: 1.4rem;
}

.project-description {
    margin: 1.5rem 0;
}

.project-technologies {
    font-style: italic;
    font-size: 0.8rem;
}

.preview-slider {
    margin: 2rem;
    position: relative;
}

.preview-slider img {
    width: 100%;
    height: auto;
    transition: all 0.6s ease-in-out;
}

.images-container {
    border-radius: 0.6rem;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 6px var(--main-color-dark);
}

.prev-arrow-container,
.next-arrow-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    cursor: pointer;
}

.prev-arrow-container {
    border-radius: 0.6rem 0 0 0.6rem;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.next-arrow-container {
    border-radius: 0 0.6rem 0.6rem 0;
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.prev-arrow-container:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.next-arrow-container:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.prev-arrow-container:hover > .left-arrow {
    transform: translateX(-3px);
}

.next-arrow-container:hover > .right-arrow {
    transform: translateX(3px);
}

.left-arrow,
.right-arrow {
    width: 0;
    height: 0;
    transition: all 0.2s ease-in-out;
}

.left-arrow {
    border-right: 8px solid black;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
}

.right-arrow {
    border-left: 8px solid black;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
}

.project-links {
    display: flex;
    gap: 1rem;
}

.project-button {
    width: 120px;
    height: 30px;
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--accent-color); 
    transition: all .4s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--main-color-dark);
}

.project-button:hover {
    color: var(--main-color-light);
    background-color: var(--main-color-dark);
    box-shadow: 1px 1px 8px var(--main-color-dark);
}

.navigation {
    position: absolute;
    left: 50%;
    transform: translate(-50%) ;
}

.navigation > * {
    cursor: pointer;
    max-width: 12px;
    color: var(--main-color-light);
    margin: 0 0.1rem;
}

.navigation > *:hover {
    transform: scale(1.1);
}

@media(max-width: 1000px) {
    .projects-section {
        gap: 2rem;
        padding: 4vh 0;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .project-info {
        align-items: center;
    }

    .project-description {
        align-self: flex-start;
    }

    .preview-slider {
        margin: 2rem 1rem;
    }
}
